---
const { title, desc, image, color, footnote = "" } = Astro.props;
import { Image } from "astro:assets";
---

<div class="feature-card">
  <div class="feature-text">
    <h3 style={`color: ${color};`}>{title}</h3>
    <p>{desc}</p>
  </div>
  <div class="feature-image">
    <Image src={image} loading="lazy" alt="Mythic feature" />
  </div>
  {footnote && (
    <div class="feature-footnote">
      <p>{footnote}</p>
    </div>
  )}
</div>

<style>
  .feature-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background-color: var(--secondary-nav-color);
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 20px;
    height: 100%;
  }

  .feature-image {
    width: 100%;
    scale: 1.08;
    height: auto;
    position: relative;
    overflow: visible;
  }

  .feature-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
    display: block;
  }

  @media (hover: hover) and (min-width: 768px) {
    .feature-image img:hover {
      transform: scale(1.02);
    }
  }

  .feature-text {
    padding-bottom: 24px;
    max-width: 100%;
    overflow-wrap: anywhere;
  }

  .feature-text h3 {
    font-size: 19px;
    margin-bottom: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .feature-text p {
    font-size: 17px;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: #1d1d1f;
  }

  .feature-footnote {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: center;
    width: 100%;
  }

  .feature-footnote p {
    font-size: 12px;
    color: var(--footnote-color);
  }
</style>
