---
const { title, desc, image, color, footnote = "" } = Astro.props;
import { Image } from "astro:assets";
---

<div class="feature-card">
  <div class="feature-text">
    <h3 style={`color: ${color};`}>{title}</h3>
    <p>{desc}</p>
  </div>
  <div class="feature-image">
    <Image src={image} loading="lazy" alt="Mythic feature" />
  </div>
  <div class="feature-footnote">
    <p>{footnote}</p>
  </div>
</div>

<style>
  .feature-card {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: var(--secondary-nav-color);
    padding: 20px;
    border-radius: 16px;
    text-align: left;
    margin-bottom: 20px;
    height: 100%;
  }

  .feature-image {
    width: 100%;
    height: auto;
    position: relative;
    overflow: visible; /* Allow the image to expand beyond its container */
  }

  .feature-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
    display: block;
  }

  /* Image hover effect for larger screens */
  @media (hover: hover) and (min-width: 768px) {
    .feature-image img:hover {
      transform: scale(1.1); /* Scale the image without clipping */
    }
  }

  .feature-text {
    padding-bottom: 24px;
    max-width: 100%; /* Ensure text does not exceed container width */
    overflow-wrap: anywhere;
  }

  .feature-text h3 {
    font-size: 19px;
    margin-bottom: 10px;
    word-wrap: break-word; /* Break long words in headings */
    overflow-wrap: break-word; /* Ensure long words break */
  }

  .feature-text p {
    font-size: 17px;
    max-width: 100%; /* Ensure text does not exceed container width */
    word-wrap: break-word; /* Break long words in paragraphs */
    overflow-wrap: break-word; /* Ensure long words break */
    color: #1d1d1f;
  }

  .feature-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
    display: block;
  }

  .feature-footnote {
    display: flex;
    justify-content: center; /* Center the footnote horizontally */
    align-items: center; /* Center vertically if needed */
    padding-top: 10px; /* Optional padding for spacing */
  }

  .feature-footnote p {
    font-size: 12px;
    text-align: center;
    color: var(--footnote-color);
  }
</style>
