---
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";
import CTALogo from "../images/logo.png";
import CTAImage from "../images/mythic-screenshot.png";

import FeatureSection from "../components/sections/FeatureSection.astro";

import AccountsScreenshot from "../images/accounts.png";
import ImportScreenshot from "../images/import.png";
import BottlesSCreenshot from "../images/bottles.png";

import SocialCard from "../components/ui/SocialCard.astro";

import Footer from "../components/navigation/Footer.astro";

const features = [
  {
    title: "Import your own titles",
    desc: "Epic not enough? Import your own macOS or Windows® titles directly into Mythic, and the rest is history.",
    image: ImportScreenshot,
    color: "#2294b1",
  },
  {
    title: "Multiple launchers, one place",
    desc: "Install, set up, and launch all your games from an external launcher, from Epic, or by yourself.",
    image: AccountsScreenshot,
    color: "#3d44c3",
  },
  {
    title: "Virtualized your way",
    desc: "Create multiple environments of Windows® directly within Mythic, and keep all your games isolated safely from one another.",
    image: BottlesSCreenshot,
    color: "#e241da",
  },
];

const socials = [
  {
    icon: "github",
    title: "You can help shape Mythic",
    desc: "Contribute to Mythic through pull requests and issues on GitHub.",
    href: "https://github.com/mythicapp",
    button: "To GitHub",
  },
  {
    icon: "discord",
    title: "Join the community",
    desc: "Join our Discord community for updates and discussions.",
    href: "https://discord.gg/58NZ7fFqPy",
    button: "Join the Discord",
  },
];
---

<Layout title="Mythic">
  <Image
    src={CTALogo}
    loading="eager"
    class="ctalogo"
    alt="Mythic logo"
    height={"124"}
  />
  <h1 class="mythic-gradient-text">
    The best way to play Windows games on Mac.
  </h1>
  <p style="margin-top: 15px; max-width: 800px;">
    An open-source macOS game launcher to play Windows games through our
    implementation of Apple's Game Porting Toolkit - supporting many launchers.
  </p>
  <br />
  <a class="button-md" href="https://github.com/MythicApp/Mythic/releases/latest/download/Mythic.zip">
    Download Alpha
  </a>
  <sub>for macOS 14+</sub>
  <Image
    class="CTA-Screenshot"
    src={CTAImage}
    loading="eager"
    alt="Mythic app screenshot"
    inferSize;
  />

  <div class="cta-after">
    <h1 class="mythic-gradient-text" style="text-align: left;">
      Gaming on a Mac has never been this easy
    </h1>
    <p style="margin-top: 15px; text-align: left;">
      Time to throw all your virtual machines, wine bottles and subscriptions
      out of the window.
    </p>
    {
      features.map((feature, index) => (
        <FeatureSection
          title={feature.title}
          desc={feature.desc}
          image={feature.image}
          id={String(index + 1)}
          color={feature.color}
        />
      ))
    }
    <sub>
      We have even more to come, see{" "}
      <span>
        <a href="https://github.com/orgs/MythicApp/projects/2/views/2">
          roadmap
        </a>
      </span>
    </sub>

    <div class="social_wrap">
      {
        socials.map((social, index) => (
          <SocialCard
            key={index}
            icon={social.icon}
            title={social.title}
            desc={social.desc}
            href={social.href}
            button={social.button}
            target="_blank"
          />
        ))
      }
    </div>
  </div>

  <Footer />
</Layout>

<style>
  .ctalogo {
    width: 124px;
    height: 124px;
  }

  .mythic-gradient-text {
    display: inline;
    --bg-size: 400%;
    font-size: 60px;
    background: linear-gradient(
        90deg,
        var(--color-one),
        var(--color-two),
        var(--color-one)
      )
      0 0 / var(--bg-size) 100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: move-bg 40s infinite linear;
    margin-bottom: 0;
  }

  @keyframes move-bg {
    0% {
      background-position: 0 0;
    }

    25% {
      background-position: 100% 0;
    }

    50% {
      background-position: 100% 100%;
    }

    75% {
      background-position: 0 100%;
    }

    100% {
      background-position: 0 0;
    }
  }

  .CTA-Screenshot {
    margin-bottom: 100px;
    opacity: 0;
    animation: pop-in 1s ease-in-out forwards;
  }

  .social_wrap {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
    justify-content: center;
    max-width: 920px;
    margin: 50px auto 0;
    gap: 40px 20px;
  }

  sub {
    margin-top: 0.5rem;
    font-family: var(--pro-text);
    color: var(--tertiary-color);
    font-size: 14px;
    margin-bottom: 20px;
  }

  @keyframes pop-in {
    0% {
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media only screen and (max-width: 903px) {
    .ctalogo {
      margin-top: 20px;
      width: 64px;
      height: 64px;
    }

    .mythic-gradient-text {
      font-size: 36px;
    }

    sub {
      font-size: 12px;
    }
  }

  @media only screen and (max-width: 480px) {
    sub {
      font-size: 10px;
    }
  }
</style>
