---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import CTALogo from "../images/mythic_1024_np.png";
import CTAImage from "../images/mythic-screenshot.png";
import FeatureSection from "../components/sections/FeatureSection.astro";
import SocialCard from "../components/ui/SocialCard.astro";
import Footer from "../components/navigation/Footer.astro";

import FullscreenLibraryScreenshotLight from "../images/app/light/fs_library.png";
import GameSettingsScreenshotLight from "../images/app/light/gamesettings.png";
import ImportSheetScreenshotLight from "../images/app/light/importsheet.png";
import ContainerConfigurationScreenshotLight from "../images/app/light/containerconfiguration.png";
import AccountManagerScreenshotLight from "../images/app/light/accountmanager.png";
import SupportViewScreenshotLight from "../images/app/light/supportview.png";
import MythicXcodeScreenshotLight from "../images/app/light/mythic_xcode.png";

export const features = [
  {
    title: "Your library, your way.",
    desc: "Easily manage all your games in one place, with a beautiful and customizable library.",
    image: FullscreenLibraryScreenshotLight,
    color: "#2294b1",
  },
  {
    title: "Open-source, open season!",
    desc: "Something isn't as good as it should be? Dig through the source code and help make it better.",
    image: MythicXcodeScreenshotLight,
    color: "#e241da",
  },
  {
    title: "Multiple launchers, one place.",
    desc: "Install, set up, and launch all your games from an external launcher, or by yourself.",
    image: AccountManagerScreenshotLight,
    color: "#3d44c3",
  },
  {
    title: "Game management, without the fuss.",
    desc: "Need to move your games around? Maybe, edit some settings? Add some flags? Mythic has you covered.",
    image: GameSettingsScreenshotLight,
    color: "#2294b1",
  },
  {
    title: "Import your own titles.",
    desc: "Epic not enough? Import your own macOS or Windows® titles directly into Mythic, and the rest is history.",
    image: ImportSheetScreenshotLight,
    color: "#e241da",
  },
  {
    title: "Virtualization? Child's play.",
    desc: "Create multiple environments of Windows® directly within Mythic, and keep all your games isolated safely from one another.",
    image: ContainerConfigurationScreenshotLight,
    color: "#3d44c3",
  },
];

const socials = [
  {
    icon: "github",
    title: "Contribute to Mythic",
    desc: "Help in shaping Mythic through pull requests and issues.",
    href: "https://github.com/mythicapp",
    button: "To GitHub",
  },
  {
    icon: "discord",
    title: "Join the community",
    desc: "Join our Discord community to partake in future updates and discussions.",
    href: "https://discord.gg/58NZ7fFqPy",
    button: "Join the Discord",
  },
  {
    icon: "heart",
    title: "Donate to the project",
    desc: "Supercharge Mythic's development and get benefits (soon...)",
    href: "https://ko-fi.com/blackxfiied",
    button: "To Ko-fi",
  },
  {
    icon: "languages",
    title: "Translate Mythic",
    desc: "Help us translate Mythic into your language, and see it live on the app.",
    href: "https://crowdin.getmythic.app/",
    button: "To Crowdin",
  },
];

---

<Layout title="Mythic">
  <Image
    src={CTALogo}
    loading="eager"
    class="ctalogo"
    alt="Mythic logo"
    width={"512"}
  />
  <h1 class="mythic-gradient-text">
    The best way to play Windows games on Mac.
  </h1>
  <p>An <a href="https://github.com/MythicApp">open-source</a> macOS game launcher with the ability to play Windows® games through a custom implementation of Apple's Game Porting Toolkit — supporting multiple platforms.</p>
  <br />
  <a class="button-md" href="/download">
    Download Alpha
  </a>
  <sub>for macOS 14+</sub>
  <Image
    class="CTA-Screenshot"
    src={CTAImage}
    loading="eager"
    alt="Mythic app screenshot"
    inferSize;
  />

  <div class="cta-after">
    <div class="cta-content">
      <div class="cta-content-header">
      <h2 style="margin-bottom: 0;">
        Friends gaming without you?
      </h2>
      <h2 class="mythic-gradient-text">
        Mythic can fix that.
      </h2>
      <p>
        Time to throw all your virtual machines and subscriptions out of the
        window.
      </p>
    </div>

      <div class="grid-container" style="grid-template-columns: 3fr 1fr;">
        {features.slice(0, 3).map((feature, index) => (
          <div class={index === 0 ? "large-tile" : "small-tile"}>
            <FeatureSection
              title={feature.title}
              desc={feature.desc}
              image={feature.image}
              id={index + 1}
              color={feature.color}
              footnote={index === 0 ? "Some Windows® games may not be supported for use within Mythic." : index === 2 ? "Steam support is still in development." : ""}
            />
          </div>
        ))}
      </div>

      <div class="grid-container" style="grid-template-columns: 1fr 3fr;">
        {features.slice(3).map((feature, index) => (
          <div class={index === 0 ? "large-tile" : "small-tile"} style={index === 0 ? "grid-column: 2;" : "grid-column: 1;"}>
            <FeatureSection
              title={feature.title}
              desc={feature.desc}
              image={feature.image}
              id={index + 4}
              color={feature.color}
            />
          </div>
        ))}
      </div>

      <sub>
        We have even more to come, check out the{" "}
        <span>
          <a href="https://github.com/orgs/MythicApp/projects/2/views/2">
            roadmap.
          </a>
        </span>
      </sub>

      <sub>
        (Please note that Mythic is still in its alpha stage of development;
        expect bugs.)
      </sub>

      <div class="social_wrap">
        {socials.map((social, index) => (
          <SocialCard
            key={index}
            icon={social.icon}
            title={social.title}
            desc={social.desc}
            href={social.href}
            button={social.button}
            target="_blank"
          />
        ))}
      </div>
    </div>
  </div>

  <Footer />
</Layout>

<style>
  body {
    width: 80vw;
  }

  .grid-container {
    display: grid;
    gap: 1rem;
    row-gap: 0;
    align-items: center;
    height: 100%;
  }

  .large-tile {
    grid-column: 1;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }

  .small-tile {
    grid-column: 2;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  @media only screen and (max-width: 1024px) {
    .grid-container {
      display: block;
    }

    .large-tile,
    .small-tile {
      grid-column: auto;
      grid-row: auto;
      height: auto;
    }
  }

  .ctalogo {
    width: 124px;
    height: 124px;
  }

  .mythic-gradient-text {
    display: inline;
    --bg-size: 400%;
    background: linear-gradient(
        90deg,
        var(--color-one),
        var(--color-two),
        var(--color-one)
      )
      0 0 / var(--bg-size) 100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: move-bg 40s infinite ease-in-out;
    margin-bottom: 0;
  }

  @keyframes move-bg {
    0% {
      background-position: 0 0;
    }

    25% {
      background-position: 100% 0;
    }

    50% {
      background-position: 100% 100%;
    }

    75% {
      background-position: 0 100%;
    }

    100% {
      background-position: 0 0;
    }
  }

  .CTA-Screenshot {
    margin-bottom: 100px;
    opacity: 0;
    animation: pop-in 1s ease-in-out forwards;
  }

  .social_wrap {
    display: grid;
    text-align: left;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ensure uniform size */
    gap: 20px; /* Space between grid items */
    width: 100%; /* Use full width of the container */
    margin: 50px auto 0;
  }

  .social_wrap > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%; /* Ensure each card takes full height */
    padding: 20px; /* Add padding for content */
    box-sizing: border-box; /* Include padding in element's total width and height */
  }

  @media only screen and (max-width: 600px) {
    .social_wrap {
      grid-template-columns: 1fr; /* Single column on small screens */
    }
  }

  sub {
    margin-top: 0.5rem;
    font-family: var(--pro-text);
    color: var(--footnote-color);
    font-size: 14px;
    margin-bottom: 20px;
  }

  @keyframes pop-in {
    0% {
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media only screen and (max-width: 903px) {
    .ctalogo {
      margin-top: 20px;
      width: 64px;
      height: 64px;
    }

    sub {
      font-size: 12px;
    }

    .cta-after {
      width: 400px;
    }
  }

  @media only screen and (max-width: 480px) {
    sub {
      font-size: 10px;
    }
  }

  .cta-after {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background: linear-gradient(to bottom, #fcfcfc 0%, #f2f2f5 10%);
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .cta-content {
    width: 95vw;
  }

  .cta-content-header {
    margin: 5%;
  }

  .cta-content-header h2 {
    font-size: 4rem
  }
</style>
