---
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";
import CTALogo from "../images/mythic_1024_np.png";
import CTAImage from "../images/mythic-screenshot.png";

import FeatureSection from "../components/sections/FeatureSection.astro";

import FullscreenLibraryScreenshotLight from "../images/app/light/fs_library.png";
import GameSettingsScreenshotLight from "../images/app/light/gamesettings.png";
import ImportSheetScreenshotLight from "../images/app/light/importsheet.png";
import ContainerConfigurationScreenshotLight from "../images/app/light/containerconfiguration.png";
import AccountManagerScreenshotLight from "../images/app/light/accountmanager.png";
import SupportViewScreenshotLight from "../images/app/light/supportview.png";
import MythicXcodeScreenshotLight from "../images/app/light/mythic_xcode.png";

import SocialCard from "../components/ui/SocialCard.astro";

import Footer from "../components/navigation/Footer.astro";

export const features = [
  {
    title: "Your library, your way.",
    desc: "Easily manage all your games in one place, with a beautiful and customizable library.",
    image: FullscreenLibraryScreenshotLight,
    color: "#2294b1",
  },
  {
    title: "Open-source, open season!",
    desc: "Something isn't as good as it should be? Dig through the source code and help make it better.",
    image: MythicXcodeScreenshotLight,
    color: "#e241da",
  },
  {
    title: "Multiple launchers, one place.",
    desc: "Install, set up, and launch all your games from an external launcher, or by yourself.",
    image: AccountManagerScreenshotLight,
    color: "#3d44c3",
  },
  {
    title: "Game management, without the fuss.",
    desc: "Need to move your games around? Maybe, edit some settings? Add some flags? Mythic has you covered.",
    image: GameSettingsScreenshotLight,
    color: "#2294b1",
  },
  {
    title: "Import your own titles.",
    desc: "Epic not enough? Import your own macOS or Windows® titles directly into Mythic, and the rest is history.",
    image: ImportSheetScreenshotLight,
    color: "#e241da",
  },
  {
    title: "Virtualization? Child's play.",
    desc: "Create multiple environments of Windows® directly within Mythic, and keep all your games isolated safely from one another.",
    image: ContainerConfigurationScreenshotLight,
    color: "#3d44c3",
  },
];

const socials = [
  {
    icon: "github",
    title: "You can help shape Mythic",
    desc: "Contribute to Mythic through pull requests and issues on GitHub.",
    href: "https://github.com/mythicapp",
    button: "To GitHub",
  },
  {
    icon: "discord",
    title: "Join the community",
    desc: "Join our Discord community to partake in future updates and discussions.",
    href: "https://discord.gg/58NZ7fFqPy",
    button: "Join the Discord",
  },
  {
    icon: "heart",
    title: "Donate",
    desc: "Supercharge Mythic's development and get benefits (soon...)",
    href: "https://ko-fi.com/blackxfiied",
    button: "To Ko-fi",
  },
];

---

<Layout title="Mythic">
  <Image
    src={CTALogo}
    loading="eager"
    class="ctalogo"
    alt="Mythic logo"
    width={"512"}
  />
  <h1 class="mythic-gradient-text">
    The best way to play Windows games on Mac.
  </h1>
  <p>An <a href="https://github.com/MythicApp">open-source</a> macOS game launcher with the ability to play Windows® games through a custom implementation of Apple's Game Porting Toolkit — supporting multiple platforms.</p>
  <br />
  <a class="button-md" href="/download">
    Download Alpha
  </a>
  <sub>for macOS 14+</sub>
  <Image
    class="CTA-Screenshot"
    src={CTAImage}
    loading="eager"
    alt="Mythic app screenshot"
    inferSize;
  />

  <div class="cta-after">
    <h1 style="margin-bottom: 0;">
      Friends gaming without you?
    </h1>
    <h1
      style="margin: 0;"
      class="mythic-gradient-text"
    >
      Mythic can fix that.
    </h1>
    <p>
      Time to throw all your virtual machines and subscriptions out of the
      window.
    </p>

    <!-- unfortunately i'm not a webdev and am too lazy to deal with modularity -->
    <div class="grid-container" style="grid-template-columns: 3fr 1fr;">
      <div class="large-tile">
        <FeatureSection
          title={features[0].title}
          desc={features[0].desc}
          image={features[0].image}
          id="1"
          color={features[0].color}
          footnote="Some Windows® games may not be supported for use within Mythic."
        />
      </div>
      <div class="small-tile">
        <FeatureSection
          title={features[1].title}
          desc={features[1].desc}
          image={features[1].image}
          id="2"
          color={features[1].color}
        />
      </div>
      <div class="small-tile">
        <FeatureSection
          title={features[2].title}
          desc={features[2].desc}
          image={features[2].image}
          id="3"
          color={features[2].color}
          footnote="Steam support is still in development."
        />
      </div>
    </div>

    <div class="grid-container" style="grid-template-columns: 1fr 3fr;">
      <div class="large-tile" style="grid-column: 2;">
        <FeatureSection
          title={features[3].title}
          desc={features[3].desc}
          image={features[3].image}
          id="3"
          color={features[3].color}
        />
      </div>
      <div class="small-tile" style="grid-column: 1;">
        <FeatureSection
          title={features[4].title}
          desc={features[4].desc}
          image={features[4].image}
          id="4"
          color={features[4].color}
        />
      </div>
      <div class="small-tile" style="grid-column: 1;">
        <FeatureSection
          title={features[5].title}
          desc={features[5].desc}
          image={features[5].image}
          id="5"
          color={features[5].color}
        />
      </div>
    </div>

    <sub>
      We have even more to come, check out the{" "}
      <span>
        <a href="https://github.com/orgs/MythicApp/projects/2/views/2">
          roadmap.
        </a>
      </span>
    </sub>

    <sub style="font-style: italic;">
      (Please note that Mythic is still in its alpha stage of development;
      expect bugs.)
    </sub>

    <div class="social_wrap">
      {
        socials.map((social, index) => (
          <SocialCard
            key={index}
            icon={social.icon}
            title={social.title}
            desc={social.desc}
            href={social.href}
            button={social.button}
            target="_blank"
          />
        ))
      }
    </div>
  </div>

  <Footer />
</Layout>

<style>
  .grid-container {
    display: grid;
    gap: 1rem;
    row-gap: 0;
    align-items: center;
    height: 100%;
  }

  .large-tile {
    grid-column: 1;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }

  .small-tile {
    grid-column: 2;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  @media only screen and (max-width: 1024px) {
    .grid-container {
      display: block;
    }

    .large-tile,
    .small-tile {
      grid-column: auto;
      grid-row: auto;
      height: auto;
    }
  }

  .ctalogo {
    width: 124px;
    height: 124px;
  }

  .mythic-gradient-text {
    display: inline;
    --bg-size: 400%;
    background: linear-gradient(
        90deg,
        var(--color-one),
        var(--color-two),
        var(--color-one)
      )
      0 0 / var(--bg-size) 100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: move-bg 40s infinite ease-in-out;
    margin-bottom: 0;
  }

  @keyframes move-bg {
    0% {
      background-position: 0 0;
    }

    25% {
      background-position: 100% 0;
    }

    50% {
      background-position: 100% 100%;
    }

    75% {
      background-position: 0 100%;
    }

    100% {
      background-position: 0 0;
    }
  }

  .CTA-Screenshot {
    margin-bottom: 100px;
    opacity: 0;
    animation: pop-in 1s ease-in-out forwards;
  }

  .social_wrap {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
    justify-content: center;
    max-width: 920px;
    margin: 50px auto 0;
    gap: 40px 20px;
  }

  sub {
    margin-top: 0.5rem;
    font-family: var(--pro-text);
    color: var(--tertiary-color);
    font-size: 14px;
    margin-bottom: 20px;
  }

  @keyframes pop-in {
    0% {
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media only screen and (max-width: 903px) {
    .ctalogo {
      margin-top: 20px;
      width: 64px;
      height: 64px;
    }

    sub {
      font-size: 12px;
    }

    .cta-after {
      width: 400px;
    }
  }

  @media only screen and (max-width: 480px) {
    sub {
      font-size: 10px;
    }
  }
  .cta-after {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
    background: linear-gradient(to bottom, #fcfcfc 0%, #f2f2f5 10%);
  }
</style>
