---
const { icon, title, desc, button, href, target } = Astro.props;
---

<div class="card">
  {
    icon === "discord" ? (
      <svg
        fill="var(--secondary-text)"
        style={{ width: "48px", height: "48px" }}
        viewBox="0 0 16 16"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M13.545 2.907a13.2 13.2 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.2 12.2 0 0 0-3.658 0 8 8 0 0 0-.412-.833.05.05 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.04.04 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032q.003.022.021.037a13.3 13.3 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019q.463-.63.818-1.329a.05.05 0 0 0-.01-.059l-.018-.011a9 9 0 0 1-1.248-.595.05.05 0 0 1-.02-.066l.015-.019q.127-.095.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.05.05 0 0 1 .053.007q.121.1.248.195a.05.05 0 0 1-.004.085 8 8 0 0 1-1.249.594.05.05 0 0 0-.03.03.05.05 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.2 13.2 0 0 0 4.001-2.02.05.05 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.03.03 0 0 0-.02-.019m-8.198 7.307c-.789 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612m5.316 0c-.788 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612" />
      </svg>
    ) : icon === "github" ? (
      <svg
        fill="var(--secondary-text)"
        style={{ width: "48px", height: "48px" }}
        viewBox="0 0 32 32"
        xmlns="http://www.w3.org/2000/svg"
        class="sc-fbJfA izUhaT"
      >
        <path d="M16 0C7.2 0 0 7.2 0 16c0 7.1 4.6 13.1 10.9 15.2.8.1 1.1-.3 1.1-.8v-2.7c-4.5 1-5.4-2.1-5.4-2.1-.7-1.8-1.8-2.3-1.8-2.3-1.5-1 .1-1 .1-1 1.6.1 2.5 1.6 2.5 1.6 1.4 2.4 3.7 1.7 4.7 1.3.1-1 .6-1.7 1-2.1-3.6-.4-7.3-1.8-7.3-7.9 0-1.7.6-3.2 1.6-4.3-.2-.4-.7-2 .2-4.2 0 0 1.3-.4 4.4 1.6 1.3-.4 2.6-.5 4-.5s2.7.2 4 .5c3.1-2.1 4.4-1.6 4.4-1.6.9 2.2.3 3.8.2 4.2 1 1.1 1.6 2.5 1.6 4.3 0 6.1-3.7 7.5-7.3 7.9.6.5 1.1 1.5 1.1 3v4.4c0 .4.3.9 1.1.8C27.4 29.1 32 23.1 32 16c0-8.8-7.2-16-16-16z" />
      </svg>
    ) : icon === "heart" ? (
    <svg
        fill="var(--secondary-text)"
        style={{ width: "48px", height: "48px" }}
        viewBox="0 0 16 16"
        xmlns="http://www.w3.org/2000/svg"
        class="sc-fbJfA izUhaT"
      >
        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
      </svg>
    ) : icon === "languages" ? (
    <svg
        fill="var(--secondary-text)"
        style={{ width: "48px", height: "48px" }}
        viewBox="0 0 16 16"
        xmlns="http://www.w3.org/2000/svg"
        class="sc-fbJfA izUhaT"
      >
        <path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286zm1.634-.736L5.5 3.956h-.049l-.679 2.022z"/>
        <path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zm7.138 9.995q.289.451.63.846c-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6 6 0 0 1-.415-.492 2 2 0 0 1-.94.31"/>
      </svg>
    ) : null
  }
  <h2>{title}</h2>
  <p>{desc}</p>
  {
    href && button && (
      <a class="button-md" href={href} target={target}>
        {button}
      </a>
    )
  }
</div>

<style>
  .card {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    transition: 0.3s; /* Smooth transition for hover effects */
    flex: 1 1 calc(33.33% - 20px); /* Take up one-third of available space */
    height: 300px; /* Fixed height for uniformity */
    width: 100%;
}
  .card h2 {
    margin-bottom: 0;
  }

  .card .button-md {
    width: fit-content;
  }

  @media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 20px); /* Two cards per row */
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 calc(100% - 20px); /* Single card per row */
    }
}

</style>
